*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
     background-color: #F5F5F5;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    background-color: #E16120;
    display: flex;
    height: 4.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleTag{
    display: flex;
    text-align: center;
    align-items: center;
}

.titleTag i{
    position: relative;
    left: 2.5vw;
    font-size: 1.3vw;
}

.titleTag a{
    text-decoration: none;
}

.navTitle{
    color: white;
    font-size: 2.1vw;
    margin-left: 3.5vw;
}

#navLogo{
    font-size: 1.7vw;
    position: absolute;
    right: 2vw;
}

.sidebar {
    height: 42rem;
    width: 350px;
    background-color: white;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 200;
}

.items{
    margin-top: 11vh;
}

.items a{
    font-size: 2.3vh;
    color: black;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: 2.1vw;
} 

.items hr{
    margin: 0.8vw;
    margin-left: 2.1vw;
    margin-right: 2.1vw;
    border: none;
    height: 1px;
    background-color: #F0F0F0;
}

#close-btn{
    color: #E16120;
    border: 3px solid #E16120;
    font-size: 1.2vw;
    border-radius: 80%;
    padding: 2px;
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

.bannerdiv{
    margin-bottom: 13vh;
}

.bannerImg{
    width: 100%;
    height: 30rem;
}

.bannerInput{
    width: 17rem;
    height: 3.2rem;
    border-radius: 50px;
    position: absolute;
    top: 33vh;
    left: 36vw;
    border: none;
    padding-left: 1.9vw;
}

.bannerInput::placeholder{
    color: grey;
    font-size: 1.1vw;
}

.bannerInput:focus{
    border: none;
    outline: none;
}

.searchIcon{
    background-color: #E16120;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 33vh;
    left: 59vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.searchIcon i{
    font-size: 1.3vw;
}

.bannerTitle{
    position: absolute;
    top: 47vh;
    color: white;
    font-size: 2.7vw;
    left: 26vw;
}

.bannerP{
    position: absolute;
    color: white;
    top: 59vh;
    left: 38vw;
    font-size: 1.4vw;
    font-weight: 100;
}
