*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
     background-color: #F5F5F5;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    background-color: #E16120;
    display: flex;
    height: 4.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleTag{
    display: flex;
    text-align: center;
    align-items: center;
}

.titleTag i{
    position: relative;
    left: 2.5vw;
    font-size: 1.3vw;
}

.titleTag a{
    text-decoration: none;
}

.navTitle{
    color: white;
    font-size: 2.1vw;
    margin-left: 3.5vw;
}

#navLogo{
    font-size: 1.7vw;
    position: absolute;
    right: 2vw;
}

/* side Nav */
.sidebar {
    height: 42rem;
    width: 350px;
    background-color: white;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 200;
}

.items{
    margin-top: 11vh;
}

.mealCategories{
    font-size: 2.3vh;
    color: black;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: 2.1vw;
    cursor: pointer;
} 

.items hr{
    margin: 0.8vw;
    margin-left: 2.1vw;
    margin-right: 2.1vw;
    border: none;
    height: 1px;
    background-color: #F0F0F0;
}

#close-btn{
    color: #E16120;
    border: 3px solid #E16120;
    font-size: 1.2vw;
    border-radius: 80%;
    padding: 2px;
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

/* Banner Element */
.bannerdiv{
    margin-bottom: 13vh;
}

.bannerImg{
    width: 100%;
    height: 30rem;
}

.bannerInput{
    width: 17rem;
    height: 3.2rem;
    border-radius: 50px;
    position: absolute;
    top: 33vh;
    left: 36vw;
    border: none;
    padding-left: 1.9vw;
}

.bannerInput::placeholder{
    color: grey;
    font-size: 1.1vw;
}

.bannerInput:focus{
    border: none;
    outline: none;
}

.searchIcon{
    background-color: #E16120;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 33vh;
    left: 59vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.searchIcon i{
    font-size: 1.3vw;
}

.bannerTitle{
    position: absolute;
    top: 47vh;
    color: white;
    font-size: 2.7vw;
    left: 26vw;
}

.bannerP{
    position: absolute;
    color: white;
    top: 59vh;
    left: 38vw;
    font-size: 1.4vw;
    font-weight: 100;
}

/* Second Nav */

#secondNav{
    height: 10vh;
    width: 96vw;
    background-color: #E16120;
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
}

.anotherNav{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

#icon{
    color: white;
    font-size: 4vh;
    margin-right: 1vw;
}

#arrow{
    color: white;
     font-size: 2.5vh;
    margin-right: 1vw;
}

#mealName{
    color: white;
    font-size: 3vh;
}

/* Meal Detail Heading */

.mainHeading h2{
    font-size: 2vw;
    margin-left:2vw;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 8vh;
}

.underlineMeal{
    height: 4px;
    width: 6.5vw;
    margin-top: 1.5vh;
    margin-left: 2vw;
    background-color: #E16120;
    margin-bottom: 8vh;
}

/* Meal Details with image */

#mealDetail{
    background-color: white;
    margin: 4vh;
    box-shadow: 2px 2px 5px grey;
}

.mealParameters{
    display: flex;
    justify-content: space-evenly;
    padding-top: 8vh;
    margin-bottom: 10vh;
}

.mealParameters img{
    height: 85vh;
    width: 33vw;
}

.mealName{
    color: #E16120;
    font-size: 2.5vw;
    margin-bottom: 2.5vh;
}

.mealInfo hr{
    border: none;
    height: 1.5px;
    background-color: #E16120;
    margin-bottom: 4vh;
}

.mealCategory{
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 5vh;
}

.mealCategory span{
    font-weight: 100;
    word-spacing: 1px;
}

.mealSource{
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 5vh;
}

.mealSource span{
    font-weight: 100;
    font-size: 1.3vw;
}

.mealTags{
    font-size: 1.5vw;
    font-weight: 600;
    display: flex;
    margin-bottom: 10vh;
}

.mealTags span{
    font-size: 2vh;
    color: #E16120;
    border: 1px solid #E16120;
    padding: 3px;
    border-radius: 5px;
    margin: 2px;
}

.mealIngridents{
    background-color: #E16120;
}

.mealIngridents h5{
    color: white;
    font-size: 1.3vw;
    padding: 3vh;

}

.allIngredients{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.allIngredients p{
    color: white;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.allIngredients span{
    color: white;
    border: 1px solid white;
    padding: 3px;
    background-color: #3A9691;
    font-size: 1.5vh;
    border-radius: 25px;
}

.measures{
    margin-left: 4vw;
    margin-right: 4vw;
}

.measures h5{
    font-size: 1.3vw;
    margin-bottom: 3vh;
}

.allMeasures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #F5F5F5;
    border: 1px solid gainsboro;
    padding: 1.5vw;
}

.allMeasures p{
    margin: 1vh;
}

.instrunctions{
    margin-left: 4vw;
    margin-bottom: 15vh;
    padding-bottom: 7vh;
}

.instructionsTitle{
    margin-top: 8vh;
    margin-bottom: 4vh;
    font-size: 1.4vw;
    font-weight: 700;
}




/* Categories */

.mainCategory h2{
    font-size: 2vw;
    margin-left:2vw;
    letter-spacing: 2px;
    font-weight: 500;
}

.underline{
    height: 4px;
    width: 6.5vw;
    margin-top: 1.5vh;
    margin-left: 2vw;
    background-color: #E16120;
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    margin-top: 10vh;
    margin-left: 1.5vw;
    margin-bottom: 15vh;
}

.measlCategories{
    position: relative;
    height: 37vh;
    width: 23vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.measlCategories img:hover{
 height: 31vh;
    width: 19vw;
}

.measlCategories img{
    height: 33vh;
    width: 21vw;
}

.measlCategories h5{
    position: absolute;
    background-color: #E16120;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    top: 1.5vh;
    right: 0.7vw;
}