*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    background-color: #E16120;
    display: flex;
    height: 4.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleTag{
    display: flex;
    text-align: center;
    align-items: center;
}

.titleTag i{
    position: relative;
    left: 2.5vw;
    font-size: 1.3vw;
}

.titleTag a{
    text-decoration: none;
}

.navTitle{
    color: white;
    font-size: 2.1vw;
    margin-left: 3.5vw;
}

#navLogo{
    font-size: 1.7vw;
    position: absolute;
    right: 2vw;
}

/* side Nav */

.sidebar {
    height: 42rem;
    width: 350px;
    background-color: white;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 200;
}

.items{
    margin-top: 11vh;
}

.mealCategories{
    font-size: 2.3vh;
    color: black;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: 2.1vw;
    cursor: pointer;
} 

.items hr{
    margin: 0.8vw;
    margin-left: 2.1vw;
    margin-right: 2.1vw;
    border: none;
    height: 1px;
    background-color: #F0F0F0;
}

#close-btn{
    color: #E16120;
    border: 3px solid #E16120;
    font-size: 1.2vw;
    border-radius: 80%;
    padding: 2px;
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

/* Banner Element */
.bannerdiv{
    margin-bottom: 13vh;
}

.bannerImg{
    width: 100%;
    height: 30rem;
}

.bannerInput{
    width: 17rem;
    height: 3.2rem;
    border-radius: 50px;
    position: absolute;
    top: 33vh;
    left: 36vw;
    border: none;
    padding-left: 1.9vw;
}

.bannerInput::placeholder{
    color: grey;
    font-size: 1.1vw;
}

.bannerInput:focus{
    border: none;
    outline: none;
}

.searchIcon{
    background-color: #E16120;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 33vh;
    left: 59vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.searchIcon i{
    font-size: 1.3vw;
}

.bannerTitle{
    position: absolute;
    top: 47vh;
    color: white;
    font-size: 2.7vw;
    left: 26vw;
}

.bannerP{
    position: absolute;
    color: white;
    top: 59vh;
    left: 38vw;
    font-size: 1.4vw;
    font-weight: 100;
}

/*Description*/

.descritpionBox{
    background-color: #FAFAFA;
    border: 2px solid #E16120;
    padding: 2vw;
    margin: 2vw;
}

.descritpionBox h2{
    color: #E16120;
    font-weight: 900;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.descritpionBox p{
    font-size: 1.6vw;
    font-weight: 100;
    color: #555555;
    line-height: 1.5;
}

/* Meal Title */

.mealHeading{
    margin-top: 7vw;
     font-size: 2vw;
    margin-left:2vw;
    letter-spacing: 3px;
    font-weight: 500;
}

.orangeLine{
    height: 4px;
    width: 6vw;
    margin-top: 1.5vh;
    margin-left: 2vw;
    background-color: #E16120;
    margin-bottom: 4vw;
}

/* Meal Cards */

#allMeals{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 35px;
    margin-left: 1.5vw;
    margin-bottom: 15vh;
}

.cardsMeals{
    height: 46vh;
    width: 17vw;
    background-color: white;
    border-radius: 5px 5px 0 0;
     border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray; 
}

.cardsMeals img{
    height: 35vh;
    width: 17vw;
    border-radius: 5px 5px 0 0;
    margin-bottom: 1vh;
}

.cardTitle{
    font-size: 1.3vw;
    margin-left: 1.5vw;
    font-weight: 600;
}

@media (max-width: 1200px) {

    /* Banner */
    .bannerInput {
        left: 32vw;
        width: 15rem;
    }

    .searchIcon {
        left: 55vw;
    }

    .bannerTitle {
        left: 20vw;
        font-size: 3vw;
    }

    .bannerP {
        left: 34vw;
        font-size: 1.8vw;
    }

    #allMeals {
        grid-template-columns: repeat(4, 1fr);
    }

    .cardsMeals,
    .cardsMeals img {
        width: 20vw;
    }
}


@media (max-width: 992px) {

    .navTitle {
        font-size: 3vw;
    }

    #navLogo {
        font-size: 2.5vw;
    }

    /* Banner */
    .bannerImg {
        height: 25rem;
    }

    .bannerInput {
        left: 28vw;
        top: 30vh;
        width: 14rem;
    }

    .searchIcon {
        left: 52vw;
        top: 30vh;
    }

    .bannerTitle {
        top: 46vh;
        left: 15vw;
        font-size: 4vw;
    }

    .bannerP {
        left: 32vw;
        font-size: 2vw;
    }

    #allMeals {
        grid-template-columns: repeat(3, 1fr);
    }

    .cardsMeals,
    .cardsMeals img {
        width: 26vw;
    }

    .cardTitle {
        font-size: 1.8vw;
    }
}


@media (max-width: 768px) {

    .navbar {
        height: 4rem;
    }

    .navTitle {
        font-size: 4vw;
    }

    #navLogo {
        font-size: 4vw;
    }

    .titleTag i {
        font-size: 3vw;
    }

    /* Banner */
    .bannerImg {
        height: 22rem;
    }

    .bannerInput {
        width: 12rem;
        top: 28vh;
        left: 24vw;
    }

    .searchIcon {
        width: 3rem;
        height: 3rem;
        top: 28vh;
        left: 50vw;
    }

    .bannerTitle {
        font-size: 5vw;
        left: 10vw;
        top: 42vh;
    }

    .bannerP {
        font-size: 2.5vw;
        left: 26vw;
    }

    /* Cards */
    #allMeals {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardsMeals {
        width: 38vw;
    }

    .cardsMeals img {
        width: 38vw;
    }

    .cardTitle {
        font-size: 2.5vw;
    }
}


@media (max-width: 576px) {

    /* Sidebar */
    #sidebar {
        width: 250px;
        right: -250px;
    }

    #close-btn {
        font-size: 4vw;
        right: 4vw;
    }

    /* Navbar */
    .navbar {
        height: 3.8rem;
    }

    .navTitle {
        font-size: 5vw;
    }

    #navLogo {
        font-size: 5vw;
    }

    /* Banner */
    .bannerImg {
        height: 20rem;
    }

    .bannerInput {
        width: 10rem;
        height: 2.6rem;
        top: 30vh;
        left: 20vw;
    }

    .searchIcon {
        width: 2.6rem;
        height: 2.6rem;
        top: 30vh;
        left: 50vw;
    }

    .bannerTitle {
        font-size: 6vw;
        top: 38vh;
        left: 10vw;
    }

    .bannerP {
        font-size: 3vw;
        left: 25vw;
    }

    /* Title */
    .mealHeading {
        font-size: 5vw;
    }

    .orangeLine {
        width: 20vw;
    }

    /* Cards */
    #allMeals {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardsMeals {
        width: 80vw;
    }

    .cardsMeals img {
        width: 80vw;
    }

    .cardTitle {
        font-size: 4vw;
    }

    .descritpionBox h2 {
        font-size: 6vw;
    }

    .descritpionBox p {
        font-size: 3.5vw;
    }
}


@media (max-width: 400px) {

    .bannerInput {
        width: 9rem;
        left: 18vw;
    }

    .searchIcon {
        left: 48vw;
    }

    .bannerTitle {
        font-size: 7vw;
        left: 10vw;
    }

    .bannerP {
        font-size: 3.5vw;
        left: 22vw;
    }

    .cardsMeals {
        width: 85vw;
    }

    .cardsMeals img {
        width: 85vw;
    }

    .cardTitle {
        font-size: 5vw;
    }
}
