*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

body{
     background-color: #F5F5F5;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    background-color: #E16120;
    display: flex;
    height: 4.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.titleTag{
    display: flex;
    text-align: center;
    align-items: center;
}

.titleTag i{
    position: relative;
    left: 2.5vw;
    font-size: 1.3vw;
}

.titleTag a{
    text-decoration: none;
}

.navTitle{
    color: white;
    font-size: 2.1vw;
    margin-left: 3.5vw;
}

#navLogo{
    font-size: 1.7vw;
    position: absolute;
    right: 2vw;
}

/* side Nav */

.sidebar {
    height: 42rem;
    width: 350px;
    background-color: white;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 200;
}

.items{
    margin-top: 11vh;
}

.mealCategories{
    font-size: 2.3vh;
    color: black;
    text-decoration: none;
    font-weight: 100;
    letter-spacing: 1px;
    margin-left: 2.1vw;
    cursor: pointer;
} 

.items hr{
    margin: 0.8vw;
    margin-left: 2.1vw;
    margin-right: 2.1vw;
    border: none;
    height: 1px;
    background-color: #F0F0F0;
}

#close-btn{
    color: #E16120;
    border: 3px solid #E16120;
    font-size: 1.2vw;
    border-radius: 80%;
    padding: 2px;
    position: absolute;
    top: 3.5vh;
    right: 1vw;
}

/* Banner Element */
.bannerdiv{
    margin-bottom: 13vh;
}

.bannerImg{
    width: 100%;
    height: 30rem;
}

.bannerInput{
    width: 17rem;
    height: 3.2rem;
    border-radius: 50px;
    position: absolute;
    top: 33vh;
    left: 36vw;
    border: none;
    padding-left: 1.9vw;
}

.bannerInput::placeholder{
    color: grey;
    font-size: 1.1vw;
}

.bannerInput:focus{
    border: none;
    outline: none;
}

.searchIcon{
    background-color: #E16120;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 33vh;
    left: 59vw;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.searchIcon i{
    font-size: 1.3vw;
}

.bannerTitle{
    position: absolute;
    top: 47vh;
    color: white;
    font-size: 2.7vw;
    left: 26vw;
}

.bannerP{
    position: absolute;
    color: white;
    top: 59vh;
    left: 38vw;
    font-size: 1.4vw;
    font-weight: 100;
}

/* Categories */

.mainCategory h2{
    font-size: 2vw;
    margin-left:2vw;
    letter-spacing: 2px;
    font-weight: 500;
}

.underline{
    height: 4px;
    width: 6.5vw;
    margin-top: 1.5vh;
    margin-left: 2vw;
    background-color: #E16120;
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    margin-top: 10vh;
    margin-left: 1.5vw;
    margin-bottom: 15vh;
}

.measlCategories{
    position: relative;
    height: 37vh;
    width: 23vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.measlCategories img:hover{
 height: 31vh;
    width: 19vw;
}

.measlCategories img{
    height: 33vh;
    width: 21vw;
}

.measlCategories h5{
    position: absolute;
    background-color: #E16120;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    top: 1.5vh;
    right: 0.7vw;
}

/* Search */

#searchTitle{
    margin-bottom: 10vh;
}

#searchTitle h2{
      font-size: 2vw;
    margin-left:2vw;
    letter-spacing: 3px;
    font-weight: 500;

}

.belowLine{
    height: 4px;
    width: 6vw;
    margin-top: 1.5vh;
    margin-left: 2vw;
    background-color: #E16120;
}

#searchedMeal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 35px;
    margin-bottom: 10vh;
    margin-left: 1.5vw;
}

.mealProduct{
       position: relative;
    height: 47vh;
    width: 17vw;
    background-color: white;
    border-radius: 8px 8px 0 0;
     border: 1px solid lightgray;
    box-shadow: 0 0 5px lightgray; 
}

.mealProduct img{
    height: 35vh;
    width: 17vw;
    border-radius: 8px 8px 0 0;
    margin-bottom: 1vh;
}

#mealCategory{
     position: absolute;
    background-color: white;
    color:#E16120;
    padding: 3px 10px;
    border-radius: 10px;
    top: 1.5vh;
    right: 0.7vw;
    font-weight: 600;
}

#origin{
    font-size: 2vh;
    margin-left: 1vw;
    color: silver;
}

.dishName{
    margin-left: 1vw;
    margin-top: 1vh;
}



@media (max-width: 1200px) {

    .row {
        grid-template-columns: repeat(3, 1fr);
    }

    #searchedMeal {
        grid-template-columns: repeat(4, 1fr);
    }

    .bannerInput {
        left: 30vw;
        width: 15rem;
    }

    .searchIcon {
        left: 55vw;
    }

    .bannerTitle {
        font-size: 3vw;
        left: 20vw;
    }

    .bannerP {
        left: 34vw;
    }
}


@media (max-width: 992px) {

    .navTitle {
        font-size: 3vw;
    }

    #navLogo {
        font-size: 2.5vw;
    }

    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    #searchedMeal {
        grid-template-columns: repeat(3, 1fr);
    }

    .bannerInput {
        left: 28vw;
        top: 34vh;
        width: 14rem;
    }

    .searchIcon {
        left: 55vw;
        top: 34vh;
    }

    .bannerTitle {
        font-size: 4vw;
        top: 48vh;
        left: 18vw;
    }

    .bannerP {
        font-size: 2.2vw;
        left: 33vw;
    }
}


@media (max-width: 768px) {

    .navbar {
        height: 4rem;
    }

    #navLogo {
        font-size: 4.5vw;
        right: 4vw;
    }

    .navTitle {
        font-size: 4vw;
        margin-left: 5vw;
    }

    .titleTag i {
        font-size: 3.5vw;
        left: 3vw;
    }

    .bannerInput {
        width: 13rem;
        top: 31vh;
        left: 25vw;
    }

    .searchIcon {
        left: 53vw;
        top: 31vh;
        width: 3rem;
        height: 3rem;
    }

    .bannerTitle {
        font-size: 5vw;
        left: 10vw;
        top: 46vh;
    }

    .bannerP {
        font-size: 2.8vw;
        left: 26vw;
    }

    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    #searchedMeal {
        grid-template-columns: repeat(2, 1fr);
    }

    .measlCategories {
        width: 40vw;
    }
}


@media (max-width: 576px) {

    #sidebar {
        width: 250px;
        right: -250px;
    }

    .navbar {
        height: 3.8rem;
    }

    .navTitle {
        font-size: 5vw;
    }

    #navLogo {
        font-size: 5vw;
    }

    .bannerImg {
        height: 22rem;
    }

    .bannerInput {
        width: 11rem;
        height: 2.8rem;
        top: 28vh;
        left: 20vw;
    }

    .searchIcon {
        width: 2.8rem;
        height: 2.8rem;
        top: 28vh;
        left: 50vw;
    }

    .bannerTitle {
        font-size: 5.8vw;
        top: 39vh;
        left: 12vw;
    }

    .bannerP {
        left: 28vw;
        font-size: 3.2vw;
    }

    .row {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 6vw;
    }

    #searchedMeal {
        grid-template-columns: repeat(1, 1fr);
    }

    .mealProduct {
        width: 80vw;
    }
}


@media (max-width: 400px) {

    .bannerInput {
        width: 10rem;
        left: 18vw;
    }

    .searchIcon {
        left: 50vw;
    }

    .bannerTitle {
        font-size: 6.5vw;
        left: 10vw;
    }

    .bannerP {
        left: 24vw;
    }

    .measlCategories {
        width: 80vw;
    }

    .mealProduct {
        width: 85vw;
    }
}
